<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://cxf.apache.org/jaxrs
		http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<import resource="cxf-config.xml" />

	<jaxrs:server id="restfulServiceContainer" address="/rs">
		<jaxrs:serviceBeans>
			<!-- <ref bean="userRsService"/> -->
			<!-- <ref bean="systemRsService"/> -->
			<ref bean="hello" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter" />
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
		</jaxrs:providers>
		<!-- <jaxrs:providers> -->
		<!-- <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/> -->
		<!-- </jaxrs:providers> -->
	</jaxrs:server>
	
</beans>